html, body  {
	height: 100%;
	margin: 0px;
	padding: 0px
}
#map-canvas {
	margin-left: 400px;
	height:100%;
	width: auto;
	border: 1px solid gray;
}

#code-canvas {
	position:absolute;
	left:0px;
	top:1px;
	width:385px;
	height:100%;
	background-color: #FFF;
	overflow: auto;
}

.map-label-marker {
	position: absolute;
	color: blue;
	font-size: 15px;
	font-weight: bold;
}
